absl-py
astunparse
async-generator
attrs
autopep8
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
cryptography
cx-Oracle
cycler
Cython
et-xmlfile
exceptiongroup
Flask
Flask-Cors
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h11
h5py
idna
itsdangerous
Jinja2
keras
Keras-Preprocessing
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml_dtypes
MouseInfo
namex
numpy
oauthlib
opencv-python
openpyxl
opt_einsum
optree
oracledb
outcome
packaging
pandas
pillow
protobuf
pyasn1
pyasn1_modules
PyAutoGUI
pycodestyle
pycparser
pycryptodome
PyGetWindow
Pygments
PyMsgBox
pyOpenSSL
pyparsing
pyperclip
PyRect
PyScreeze
PySocks
python-dateutil
python-dotenv
pytweening
pytz
requests
requests-oauthlib
rich
rsa
selenium
six
sniffio
sortedcontainers
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow<2.11
tensorflow-estimator
tensorflow-io-gcs-filesystem
tensorflow_intel
termcolor
tomli
trio
trio-websocket
typing_extensions
undetected-chromedriver
urllib3
urllib3-secure-extra
websockets
Werkzeug
wrapt
wsproto
xlrd
xlwt
